Repository Apmaranca/Aristotle, changes with the owners that .github/CODEOWNERS names for each.
All owners: @default-owner, @documentation-team, @javascript-team, @project-lead, user@example.com, @myorg/testing-team, @testing-team

Update README
  orig/README
Owners: @default-owner

Update README
  orig/README
Owners: @default-owner

Update README
  orig/README
Owners: @default-owner

Add files via upload
  text/Aristotle's Nicomachean Ethics - Book A V01.txt
Owners: @default-owner

Add files via upload
  scripts/eliminate_tabs .py
Owners: @default-owner

Add files via upload
  docs/Index of Marks .txt
Owners: @documentation-team

Add files via upload
  docs/Index of Marks .txt
Owners: @documentation-team

Update README.md
  README.md
Owners: @project-lead

Update README.md
  README.md
Owners: @project-lead

Add files via upload
  orig/Aristotle's Nicomachean Ethics - Book A V01.txt
  orig/Book_2_beta.txt
  orig/Book_3_gamma.txt
Owners: @default-owner

.github/CODEOWNERS:

# This is an example of a CODEOWNERS file

# Default owners for everything in the repo
*       @default-owner

# Order is important; the last matching pattern takes the most precedence.

# To specify code owners for a specific directory
/docs/          @documentation-team

# To specify code owners for a specific file type
*.js            @javascript-team

# To specify code owners for specific files
/README.md      @project-lead

# You can also use email addresses if they are associated with a GitHub account
/CODE_OF_CONDUCT.md    user@example.com

# Using teams in an organization (syntax: org/team_name)
/tests/         @myorg/testing-team

# To specify code owners for nested directories, use the '**' pattern
/src/**/test/   @testing-team

# Exclude specific files or directories by preceding with an exclamation mark (!)
# Note: Exclusion patterns are not supported by GitHub's CODEOWNERS file as of the last update.
